.slick-row[data-visible-slides="1"] .slick-slide {
    margin: 3px;
}
.slick-row:not([data-visible-slides="1"]) .slick-slide {
    margin: 0;
}

.slick-slide {
    height:600px;
    padding: 5px;
}

.cts-slide {
    align-items: center !important;
    height: 600px !important;
}

.cts-slide p {
    margin-top: 10px;
}

.cts-wrap {
    overflow: hidden;
    position: relative;
}
.cts-wrap > p {
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
}
.cts-wrap.cts-collapsed {
    -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) calc(100% - 50px), /* Fully visible until last 50px */
    rgba(0, 0, 0, 0) 100% /* Fade out in the last 50px */
  );
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) calc(100% - 50px), /* Fully visible until last 50px */
    rgba(0, 0, 0, 0) 100% /* Fade out in the last 50px */
  );
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
}
.cts-wrap.cts-expanded {
    height: auto;
}

.cts-expand,.cts-collapse {
    cursor: pointer;
}